@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#Trendings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
}

#trendingsH2{
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin: 0.5em 0;
}

.trending{
    border: none;
    outline: 2px solid white;
    outline-offset: -4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;;
    float:left;
    height: 50px;
    width: 150px;
    margin: 10px;
    border-radius: 22px;
    cursor: pointer;
}

.trending:hover{
    transition: all 0.1s;
    animation: shake 0.85s cubic-bezier(.36,.07,.19,.17) both;
    transform: translate3d(0, 0, 0);
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-4px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}